@model IEnumerable<MVC_QLKHO.Models.LoHang>

@{
    ViewBag.Title = "CHI TIẾT PHIẾU NHẬP";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var phieuNhap = ViewBag.phieuNhap as MVC_QLKHO.Models.PhieuNhap;
}

@if (phieuNhap == null)
{
    <h3 class="text-danger">Không tồn tại phiếu nhập này.</h3>
}
else
{
    <div class="panel panel-primary">
        <div class="panel-heading">PHIẾU NHẬP</div>
        <div class="panel-body">
            <p>
                @using (Html.BeginForm())
                {
                    <button class="btn btn-primary" name="export_excel" value="export_excel"><i class="fa fa-file-excel-o"></i> Xuất Excel</button>
                    @Html.ActionLink("Trang chủ", "Index", "Home", new { }, new { @class = "btn btn-default" })
                }
            </p>
            <table class="table table-bordered">
                <tr>
                    <td>MÃ PHIẾU NHẬP</td>
                    <td><b>@phieuNhap.ID_PhieuNhap</b></td>
                </tr>
                <tr>
                    <td>THỜI GIAN</td>
                    <td><b>@phieuNhap.ThoiGian</b></td>
                </tr>
                <tr>
                    <td>NHÂN VIÊN</td>
                    <td><b>@phieuNhap.NhanVien.TenNV</b></td>
                </tr>
                <tr>
                    <td>GHI CHÚ</td>
                    <td><b>@phieuNhap.Note</b></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">CÁC HÀNG HÓA ĐÃ NHẬP KHO</div>
        <div class="panel-body">
            <table class="table table-bordered" id="m-table">
                <thead>
                    <tr>
                        <th>
                            MÃ LÔ HÀNG
                        </th>
                        <th>
                            HÀNG HÓA
                        </th>
                        <th>
                            SỐ LƯỢNG
                        </th>
                        <th>
                            NSX - HSD
                        </th>
                        <th>
                            NHÀ CUNG CẤP
                        </th>
                        <th>
                            VỊ TRÍ
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaLoHang)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HangHoa.TenHH)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SoLuong)
                            </td>
                            <td>
                                <span class="label label-default">@item.NSX.Value.ToString("dd/MM/yyyy")</span> : <span class="label label-default">@item.HSD.Value.ToString("dd/MM/yyyy")</span>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NhaCungCap.TenNCC)
                            </td>
                            <td>
                                Tầng @Html.DisplayFor(modelItem => item.Tang) -
                                Hàng @Html.DisplayFor(modelItem => item.Hang) -
                                Cột @Html.DisplayFor(modelItem => item.Cot)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    @section css{
        <link href="~/Content/theme/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet" />
        <link href="~/Content/theme/vendor/datatables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    }

    @section js{
        <script src="~/Content/theme/vendor/datatables/js/jquery.dataTables.min.js"></script>
        <script src="~/Content/theme/vendor/datatables/js/dataTables.bootstrap.min.js"></script>
        <script>
            $($("#m-table").dataTable());
        </script>
    }

}
