@model IEnumerable<MVC_QLKHO.Models.PhieuNhap>

@{
    ViewBag.Title = "DANH SÁCH PHIẾU NHẬP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        <p>
            <a href="@Url.Action("Edit")" class="btn btn-success"> <i class="fa fa-plus"></i> Thêm mới</a>
        </p>
        <div class="row col-md-12" style="margin: 9px">
            @using (Html.BeginForm())
            {
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i> Từ ngày</span>
                        <input type="date" name="TimeStart" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i> Tới ngày</span>
                        <input type="date" name="TimeEnd" class="form-control">
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary" name="filter" value="filter"><i class="fa fa-filter"></i> Lọc</button>
                </div>
            }
        </div>

        <table class="table table-bordered" id="m-table">
            <thead>
                <tr>
                    <th>
                        THỜI GIAN
                    </th>
                    <th>
                        MÃ PHIẾU NHẬP
                    </th>
                    <th>
                        NHÂN VIÊN NHẬP KHO
                    </th>
                    <th>
                        GHI CHÚ
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ThoiGian)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID_PhieuNhap)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NhanVien.TenNV)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Note)
                        </td>
                        <td>
                            <a href="@Url.Action("Index", "CTNhapKho", new { ID_PhieuNhap = item.ID_PhieuNhap })" class="btn btn-bitbucket"> <i class="fa fa-edit"></i> Hóa đơn</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section css{
    <link href="~/Content/theme/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet" />
    <link href="~/Content/theme/vendor/datatables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}

@section js{
    <script src="~/Content/theme/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/theme/vendor/datatables/js/dataTables.bootstrap.min.js"></script>
    <script>
        $($("#m-table").dataTable());
    </script>
}